body {
  background: url(Assets/Background.png);
  font-family: Arial, Helvetica, sans-serif;
}

input, select, textarea {
  color: aliceblue;
  outline: 0;
  font-size: 25px;
  border-width: 0 0 2px;
  border-color: aliceblue;
  margin: 0px 50px;
  background: transparent;
}

input:focus {
  border-color: #FFE65E;
}

input::placeholder {
  color: aliceblue;
}

.RowWrapper {
  margin-top: 10em;
}

.SignupWrapper {
  color: aliceblue;
  justify-content: center;
  font-size: 30px;
  position: relative;
  top: 25px;
}

.SignUp {
  color: #FFE65E;
}

.SignUp:focus {
  color: aliceblue;
}

.Login.Button {
  border-radius: 30px;
  padding: 20px 100px;
  margin-top: 25em;
  text-align: center;
  background-color: #FFE65E;
  justify-content: center;
  font-weight: 600;
  font-size: large;
}

.Login.Button.Signup {
  margin-top: 15em;
}

.Login {
  padding: 60px 0;
  text-align: center;
}

.Login form {
  margin: 0 auto;
  max-width: 320px;
}

.MainTitle {
  text-align: center;
  color: aliceblue;
  font-size: 75px;
  margin-bottom: 75px;
}

/***************************************Weather********************************/

.TemperatureLabel {
  width: 84%;
  position: relative;
  bottom: 90px;
  text-align: right;
}

.CityLabel {
  position: relative;
  bottom: 90px;
  font-size: 50px;
}

.WeatherIcon {
  position: relative;
  height: 86px;
  width: 110px;
  left: 10px;
  top: 10px;
}

.WeatherIcon.Clouds {
  content: url(Assets/Clouds_icon.png);
}

.WeatherIcon.Rain {
  content: url(Assets/Rain_icon.png);
}

.WeatherIcon.Clear {
  content: url(Assets/Sun_icon.png);
}

/***************************************Weather********************************/

/***************************************News********************************/

.NewsHeadLineMini {
  font-size: 20px;
  padding: 5px;
  margin-bottom: 40px;
}

.MainTitle.NewsTitle {
  text-align: left;
  margin: 2% 2% 5% 2%;
  font-size: 2.5em;
}

.News {
  color: aliceblue;
  font-family: 'Times New Roman', Times, serif;
}

.NewsDescriptionMini {
  font-size: 13px;
  padding: 5px;
}

.ContainerTitle.NewsTitle {
  margin-left: 2%;
  margin-top: 2%;
}

.NewsWrapper {
  text-align: center;
}

.NewsBody {
  text-align: justify;
  padding: 5px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3em;
  overflow: auto;
  font-size: 20px;
  max-height: 30em;
}

.NewsImageContainer {
  content: url(Assets/Add_picture.png);
  margin-left: 40%;
  margin-right: 25%;
}

/***************************************News********************************/

/***************************************Teams********************************/

Input.TeamInput {
  justify-content: center;
  margin-left: 50rem;
  margin-top: 3rem;
}

.TeamsBeaten {
  color: aliceblue;
  list-style-type: none;
  font-size: 20px;
  margin-left: 10rem;
}

.TeamsBeaten.Header {
  text-align: left;
  margin-top: 5rem;
  padding-left: 40px;
  font-size: 25px;
}

.TeamItem {
  margin: 5px;
}

/***************************************Teams********************************/

/***************************************Photos********************************/

.AddIcon {
  width: 280px;
  height: 280px;
  content: url(Assets/Plus_button.png);
  border-style: solid;
  border-width: 5px;
  background-color: #788BAA;
  border-color: #FFE65E;
  color: black;
  text-align: center;
  cursor: hand;
}

.PhotoAdd {
  width: 240px;
  height: 240px;
  overflow: hidden;
  position: relative;
}

label span input {
  z-index: 999;
  line-height: 0;
  font-size: 50px;
  position: absolute;
  top: -2px;
  left: -700px;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "alpha(opacity=0)";
  margin: 0;
  padding: 0;
}

.ImageDelete {
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 10px 20px;
  margin: 30px 50px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.ImageUpload>input {
  display: none;
}

.Photo.Image {
  width: 280px;
  height: 280px;
}

.Photo.Item {
  flex: 1;
  margin: 20px 30px;
}

.Photo.Item1 {
  flex: 1;
  margin: 20px 30px;
  width: 280px;
  height: 280px;
}

.Photo.Item.Mini {
  flex: 1;
  margin: 0px 20px 0px 0px;
  width: 120px;
  height: 75px;
}

.PhotoMainGrid.Mini {
  grid-gap: 10px;
  padding-top: 20px;
  margin: 0px 15px 0px 30px;
  margin-block-start: 0px;
  padding-inline-start: 0px;
}

.PhotoMainGrid {
  display: flex;
  margin: 0px 23rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 50px;
}

/***************************************Photos********************************/

/***************************************Tasks********************************/
.TaskAdd {
  width: 240px;
  height: 240px;
  overflow: hidden;
  position: relative;
}
.SmallAdd {
  width: 68px;
  height: 68px;
  background: url(Assets/Plus_button_small.png);
  border:none
}

/***************************************Tasks********************************/


/***************************************Clothes********************************/
.ClothesPie{
  width: 50%;
}

/***************************************Clothes********************************/

.ContainerTitle {
  font-size: 30px;
}

.item1 {
  grid-area: weather;
}

.item2 {
  grid-area: news;
}

.item3 {
  grid-area: sport;
}

.item4 {
  grid-area: photos;
}

.item5 {
  grid-area: tasks;
}

.item6 {
  grid-area: clothes;
}

.Logout {
  font-size: 1.5em;
  padding: 10px;
  position: relative;
  top: 20px;
  border-style: solid;
  border-width: 5px;
  background-color: #C1D3F2;
  border-color: #FFE65E;
  text-decoration: none;
  color: black
}

.MainGrid {
  display: grid;
  justify-content: center;
  grid-template: 'weather news sport' 'photos tasks clothes';
  grid-gap: 100px;
  padding: 10px;
}

/*Aspect ratio 421 x 309 */

.MainGrid>div {
  background-image: url(Assets/Container.png);
  background-size: cover;
  text-align: center;
  height: 210px;
  width: 340px;
  padding: 20px 0;
  font-size: 30px;
}