body {
  background: url(Assets/Background.png);
  font-family: Arial, Helvetica, sans-serif;
}

input[type=text], select, textarea {
  color: aliceblue;
  outline: 0;
  font-size: 25px;
  border-width: 0 0 2px;
  border-color: aliceblue;
  margin: 0px 50px;
  background: transparent;
}
input:focus {
  border-color: #FFE65E;
}
input::placeholder{
  color: aliceblue;
}

.RowWrapper{
 margin-top: 10em;
}
.SignupWrapper{
  color: aliceblue;
  justify-content: center;
  font-size: 30px;
  position: relative;
  top: 25px;
}
.SignUp{
  color: #FFE65E;
}
.SignUp:focus{
  color: aliceblue;
}

.Login.Button{
  border-radius: 30px;
  padding: 20px 100px;
  margin-top: 25em;
  text-align: center;
  background-color: #FFE65E;
  justify-content: center;
  font-weight: 600;
  font-size: large;
}


.Login {
  padding: 60px 0;
  text-align: center;
}

.Login form {
  margin: 0 auto;
  max-width: 320px;
}

.MainTitle {
  text-align: center;
  color: aliceblue;
  font-size: 75px;
  margin-bottom: 75px;
}

/***************************************Weather********************************/

.TemperatureLabel {
  width: 84%;
  position: relative;
  bottom: 90px;
  text-align: right;
}

.CityLabel {
  position: relative;
  bottom: 90px;
  font-size: 50px;
}

.WeatherIcon {
  position: relative;
  height: 86px;
  width: 110px;
  left: 10px;
  top: 10px;
}

.WeatherIcon.Clouds {
  content: url(Assets/Clouds_icon.png);
}

.WeatherIcon.Rain {
  content: url(Assets/Rain_icon.png);
}

.WeatherIcon.Clear {
  content: url(Assets/Sun_icon.png);
}

/***************************************Weather********************************/

/***************************************News********************************/

.NewsHeadLineMini {
  font-size: 20px;
  padding: 5px;
  margin-bottom: 40px;
}

.News {
  color: aliceblue;
  font-family: 'Times New Roman', Times, serif;
}

.NewsDescriptionMini {
  font-size: 13px;
  padding: 5px;
}

.ContainerTitle.NewsTitle {
  margin-left: 2%;
  margin-top: 2%;
}

.NewsWrapper {
  text-align: center;
}

.NewsBody {
  text-align: justify;
  padding: 5px;
  margin-left: 5%;
  margin-right: 5%;
  overflow: auto;
  max-height: 400px;
}

.NewsImageContainer {
  content: url(Assets/Add_picture.png);
  margin-left: 40%;
  margin-right: 25%;
}

.NewsHeadline {
  margin: 100px 0px;
  font-size: 2.5em;
}

/***************************************News********************************/

.ContainerTitle {
  font-size: 30px;
}

.item1 {
  grid-area: weather;
}

.item2 {
  grid-area: news;
}

.item3 {
  grid-area: sport;
}

.item4 {
  grid-area: photos;
}

.item5 {
  grid-area: tasks;
}

.item6 {
  grid-area: clothes;
}

.Logout{
  font-size: 1.5em;
  padding: 10px;
  position: relative;
  top: 20px;
  border-style: solid;
  border-width: 5px;
  background-color: #C1D3F2;
  border-color: #FFE65E;
  text-decoration: none;
  color:black
}

.MainGrid {
  display: grid;
  justify-content: center;
  grid-template: 'weather news sport' 'photos tasks clothes';
  grid-gap: 100px;
  padding: 10px;
}

/*Aspect ratio 421 x 309 */

.MainGrid>div {
  background-image: url(Assets/Container.png);
  background-size: cover;
  text-align: center;
  height: 210px;
  width: 340px;
  padding: 20px 0;
  font-size: 30px;
}